<% if logged_in? %>
<h1 class="members">Page profil</h1>

<table class="table table-striped">
<thead class="thead-light">
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>
    <%= @user.first_name %>
  </td>
  <td>
    <%= @user.last_name %>
  </td>
  <td>
    <%= @user.email %>
  </td>
</tr>
</tbody>

</table>

<% if current_user?(@user) %>
<div id="profilebutton">
    <%= link_to "Editer", edit_user_path(@user), class: 'btn btn btn-primary' %>
    <%= link_to "Supprimer", @user, method: :delete,
                                data: { confirm: "C'est ton dernier mot ?" }, class: 'btn btn-sm btn-danger'%>
</div>
<% end %>

<%end%>
