<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Accueil", root_path, class="navbar navbar-dark bg-primary" %></li>
        <% if logged_in? %>
          <li><%= link_to "suprise", users_path, class: 'navtext' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ton compte <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "private", current_user %></li>
              <li>
                <%= link_to "Se déconnecter", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "S'inscrire", new_user_path, class="navbar navbar-dark bg-primary" %></li>
          <li><%= link_to "Se connecter", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
